{% extends "base.html" %}

{% block title %}Conversor Binario {% endblock %}
{% block style %}
    .container {
        width: 100vw;
        height: 100vh;
        background: coral;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .box {
        width: 540px;
        height: 200px;
        background: #fff;
        font-family: sans-serif;
        border-radius: 10px;
    }

    h1 {
        display: flex;
        justify-content: center;
    }
    body {
       margin: 0px;
    }
    input {
        border: 0;
        border-bottom: 2px solid #9e9e9e;
        outline: none;
        transition: .2s ease-in-out;
        box-sizing: border-box;
    }
    .button-23 {
        background-color: #FFFFFF;
        border: 1px solid #222222;
        border-radius: 8px;
        box-sizing: border-box;
        color: #222222;
        cursor: pointer;
        display: inline-block;
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        margin: 0;
        outline: none;
        padding: 13px 23px;
        position: relative;
        text-align: center;
        text-decoration: none;
        touch-action: manipulation;
        transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
        user-select: none;
        -webkit-user-select: none;
        width: auto;
    }
      
    .button-23:focus-visible {
        box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
        transition: box-shadow .2s;
    }
      
    .button-23:active {
        background-color: #F7F7F7;
        border-color: #000000;
        transform: scale(.96);
    }
      
    .button-23:disabled {
        border-color: #DDDDDD;
        color: #DDDDDD;
        cursor: not-allowed;
        opacity: 1;
    }
    .text-error {
        color: red;
        padding-bottom: 10px;
    }
    
      

{% endblock %}
 
{% block contents %}
    <div class="container">
    <div class="box">
    <form method="post" action="{% url 'index' %}">
        {% csrf_token %}
        <h1>Conversor Binario para Decimal</h1>
        
        <div class="inputs-position">
            <p>Numero Binario: {{ form.number_field }}</p>
            <p>Numero Decimal: <input type="number" value= {% if numero_convertido %} {{ numero_convertido }} {% else %} value='' {% endif %}></p> 
        </div>
        {% if form.errors %}
            {% for error in form.number_field.errors %}
               <div class="text-error"> {{ error }} </div>
            {% endfor %}
            </ul>
        {% endif %}
 
     
        <button class="button-23" role="button" type="submit" value="Saved">Converter</button>

    </form>
    
{% endblock %}
